.stars {
  position: static;
  top: -50px;
  left: 0;
  width: 100%;
  height: 50%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 7.41em;
  --top-offset: 9.94vh;
  --fall-duration: 11.504s;
  --fall-delay: 7.859s;
}
.star:nth-child(2) {
  --star-tail-length: 6.8em;
  --top-offset: 19.08vh;
  --fall-duration: 7.841s;
  --fall-delay: 7.234s;
}
.star:nth-child(3) {
  --star-tail-length: 7.17em;
  --top-offset: 85.24vh;
  --fall-duration: 8.342s;
  --fall-delay: 4.083s;
}
.star:nth-child(4) {
  --star-tail-length: 5.06em;
  --top-offset: 56.15vh;
  --fall-duration: 6.123s;
  --fall-delay: 3.117s;
}
.star:nth-child(5) {
  --star-tail-length: 6.74em;
  --top-offset: 31.22vh;
  --fall-duration: 11.311s;
  --fall-delay: 5.05s;
}
.star:nth-child(6) {
  --star-tail-length: 6.13em;
  --top-offset: 79.62vh;
  --fall-duration: 9.35s;
  --fall-delay: 1.914s;
}
.star:nth-child(7) {
  --star-tail-length: 5.12em;
  --top-offset: 81.98vh;
  --fall-duration: 8.245s;
  --fall-delay: 9.491s;
}
.star:nth-child(8) {
  --star-tail-length: 5.05em;
  --top-offset: 17.49vh;
  --fall-duration: 6.622s;
  --fall-delay: 6.628s;
}
.star:nth-child(9) {
  --star-tail-length: 5.11em;
  --top-offset: 84.27vh;
  --fall-duration: 11.822s;
  --fall-delay: 7.379s;
}
.star:nth-child(10) {
  --star-tail-length: 6.77em;
  --top-offset: 41.48vh;
  --fall-duration: 8.995s;
  --fall-delay: 1.083s;
}
.star:nth-child(11) {
  --star-tail-length: 5.68em;
  --top-offset: 43.93vh;
  --fall-duration: 9.21s;
  --fall-delay: 8.257s;
}
.star:nth-child(12) {
  --star-tail-length: 7em;
  --top-offset: 94.74vh;
  --fall-duration: 10.588s;
  --fall-delay: 3.096s;
}
.star:nth-child(13) {
  --star-tail-length: 6.75em;
  --top-offset: 42.32vh;
  --fall-duration: 8.186s;
  --fall-delay: 5.072s;
}
.star:nth-child(14) {
  --star-tail-length: 7.5em;
  --top-offset: 44.89vh;
  --fall-duration: 7.959s;
  --fall-delay: 4.603s;
}
.star:nth-child(15) {
  --star-tail-length: 5.64em;
  --top-offset: 53.21vh;
  --fall-duration: 7.223s;
  --fall-delay: 5.37s;
}
.star:nth-child(16) {
  --star-tail-length: 5.19em;
  --top-offset: 82.17vh;
  --fall-duration: 10.816s;
  --fall-delay: 2.811s;
}
.star:nth-child(17) {
  --star-tail-length: 6.38em;
  --top-offset: 30.04vh;
  --fall-duration: 11.322s;
  --fall-delay: 3.023s;
}
.star:nth-child(18) {
  --star-tail-length: 6.09em;
  --top-offset: 31.05vh;
  --fall-duration: 11.133s;
  --fall-delay: 8.779s;
}
.star:nth-child(19) {
  --star-tail-length: 5.08em;
  --top-offset: 77.45vh;
  --fall-duration: 9.93s;
  --fall-delay: 3.103s;
}
.star:nth-child(20) {
  --star-tail-length: 5.73em;
  --top-offset: 7.45vh;
  --fall-duration: 8.637s;
  --fall-delay: 0.914s;
}
.star:nth-child(21) {
  --star-tail-length: 6.59em;
  --top-offset: 34.86vh;
  --fall-duration: 9.29s;
  --fall-delay: 5.393s;
}
.star:nth-child(22) {
  --star-tail-length: 7.03em;
  --top-offset: 97.91vh;
  --fall-duration: 6.365s;
  --fall-delay: 8.837s;
}
.star:nth-child(23) {
  --star-tail-length: 5.93em;
  --top-offset: 41.53vh;
  --fall-duration: 9.725s;
  --fall-delay: 8.087s;
}
.star:nth-child(24) {
  --star-tail-length: 7.11em;
  --top-offset: 72.05vh;
  --fall-duration: 7.083s;
  --fall-delay: 7.756s;
}
.star:nth-child(25) {
  --star-tail-length: 5.36em;
  --top-offset: 77.18vh;
  --fall-duration: 8.14s;
  --fall-delay: 4.558s;
}
.star:nth-child(26) {
  --star-tail-length: 7.27em;
  --top-offset: 24.93vh;
  --fall-duration: 9.844s;
  --fall-delay: 5.7s;
}
.star:nth-child(27) {
  --star-tail-length: 6.75em;
  --top-offset: 66.55vh;
  --fall-duration: 10.928s;
  --fall-delay: 3.421s;
}
.star:nth-child(28) {
  --star-tail-length: 6.68em;
  --top-offset: 66.45vh;
  --fall-duration: 10.682s;
  --fall-delay: 2.055s;
}
.star:nth-child(29) {
  --star-tail-length: 5.86em;
  --top-offset: 42.91vh;
  --fall-duration: 6.422s;
  --fall-delay: 9.281s;
}
.star:nth-child(30) {
  --star-tail-length: 5.34em;
  --top-offset: 96.65vh;
  --fall-duration: 8.659s;
  --fall-delay: 8.382s;
}
.star:nth-child(31) {
  --star-tail-length: 5.18em;
  --top-offset: 18.7vh;
  --fall-duration: 8.619s;
  --fall-delay: 6.657s;
}
.star:nth-child(32) {
  --star-tail-length: 6.49em;
  --top-offset: 61.85vh;
  --fall-duration: 11.053s;
  --fall-delay: 8.156s;
}
.star:nth-child(33) {
  --star-tail-length: 6.94em;
  --top-offset: 37.8vh;
  --fall-duration: 11.271s;
  --fall-delay: 6.108s;
}
.star:nth-child(34) {
  --star-tail-length: 6.94em;
  --top-offset: 51.99vh;
  --fall-duration: 7.702s;
  --fall-delay: 8.019s;
}
.star:nth-child(35) {
  --star-tail-length: 6.36em;
  --top-offset: 95.74vh;
  --fall-duration: 10.795s;
  --fall-delay: 5.066s;
}
.star:nth-child(36) {
  --star-tail-length: 7.3em;
  --top-offset: 77.06vh;
  --fall-duration: 9.611s;
  --fall-delay: 6.028s;
}
.star:nth-child(37) {
  --star-tail-length: 6.16em;
  --top-offset: 74.28vh;
  --fall-duration: 11.026s;
  --fall-delay: 4.866s;
}
.star:nth-child(38) {
  --star-tail-length: 6.1em;
  --top-offset: 78.81vh;
  --fall-duration: 7.389s;
  --fall-delay: 6.122s;
}
.star:nth-child(39) {
  --star-tail-length: 5.64em;
  --top-offset: 50.06vh;
  --fall-duration: 7.03s;
  --fall-delay: 5.989s;
}
.star:nth-child(40) {
  --star-tail-length: 5.68em;
  --top-offset: 95.76vh;
  --fall-duration: 8.528s;
  --fall-delay: 7.666s;
}
.star:nth-child(41) {
  --star-tail-length: 7.38em;
  --top-offset: 87.34vh;
  --fall-duration: 10.181s;
  --fall-delay: 7.708s;
}
.star:nth-child(42) {
  --star-tail-length: 6.9em;
  --top-offset: 37.66vh;
  --fall-duration: 11.605s;
  --fall-delay: 7.712s;
}
.star:nth-child(43) {
  --star-tail-length: 5.25em;
  --top-offset: 93.88vh;
  --fall-duration: 7.844s;
  --fall-delay: 8.664s;
}
.star:nth-child(44) {
  --star-tail-length: 7.11em;
  --top-offset: 40.02vh;
  --fall-duration: 8.861s;
  --fall-delay: 6.708s;
}
.star:nth-child(45) {
  --star-tail-length: 6.49em;
  --top-offset: 18.2vh;
  --fall-duration: 7.02s;
  --fall-delay: 0.033s;
}
.star:nth-child(46) {
  --star-tail-length: 7.05em;
  --top-offset: 27.74vh;
  --fall-duration: 10.742s;
  --fall-delay: 2.28s;
}
.star:nth-child(47) {
  --star-tail-length: 5.11em;
  --top-offset: 90.6vh;
  --fall-duration: 11.232s;
  --fall-delay: 6.426s;
}
.star:nth-child(48) {
  --star-tail-length: 5.51em;
  --top-offset: 42.2vh;
  --fall-duration: 6.861s;
  --fall-delay: 4.104s;
}
.star:nth-child(49) {
  --star-tail-length: 5.71em;
  --top-offset: 71.49vh;
  --fall-duration: 8.487s;
  --fall-delay: 1.525s;
}
.star:nth-child(50) {
  --star-tail-length: 6.85em;
  --top-offset: 17.92vh;
  --fall-duration: 7.371s;
  --fall-delay: 6.727s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}/*# sourceMappingURL=style.css.map */